@import "../../../styles/globals.scss";

.contentWrapper {
  width: 100%;
  height: 100%;
}
.contentFloatTitle {
  font-size: $midTitle;
  font-weight: 600;
  color: $mainColor;
  font-family: $boldFont;
}
.contentFloatText {
  padding: 0.8rem 0;
  line-height: 1.8rem;
  color: $mainColor;
  font-weight: 600;
  max-width: 30rem;
  font-size: $smallText;
  font-family: $normalFont;
}
.contentTop {
  text-align: center;
  color: $mainColor;
  padding: 0 8rem;
  font-size: $smallTitle;
  margin-bottom: 4rem;
  font-family: $boldFont;
  line-height: 2.5rem;
}
.contentWrap {
  padding: 0 2rem;
  display: flex;
  justify-content: space-evenly;
}

.verticalWrap {
  display: flex;
  min-height: 10rem;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.contentVideo {
  width: 100%;
  margin-bottom: 1rem;
}
.contentVideo {
  iframe {
    min-height: 16rem;
  }
}
.contentCaption {
  font-family: $boldFont;
  color: $mainColor;
  border-left: 2px solid $mainColor;
  height: 2rem;
  display: flex;
  align-items: center;
}
.contentCaption {
  span {
    margin-left: 0.5rem;
    font-size: $xsmallText;
    font-weight: 600;
  }
}
.contentLeft {
  width: 40%;
}
.contentRight {
  width: 40%;
  display: flex;
}

.midContainer {
  display: flex;
  background-color: $white;
  background-image: url(../../../images/SpareLeft.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  justify-content: space-between;
  padding: 1rem 0rem;
}
.midContent {
  justify-content: space-around;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.midContentImage {
  padding: 3rem 1rem;
}
.midContentImage {
  img {
    width: 100%;
    height: auto;
  }
}
.midContentTitle {
  font-size: $midTitle;
  font-weight: 600;
  color: $white;
  font-family: $boldFont;
}
.midContentText {
  color: $white;
  max-width: 27rem;
  font-family: $normalFont;
  line-height: 1.5rem;
}
.midButton {
  height: 3rem;
  width: 10rem;
}

/* Mobile */
@media (max-width: 768px) {
  .contentWrap {
    flex-direction: column;
    padding: 0 1rem;
    align-items: center;
  }
  .verticalWrap {
    justify-content: space-evenly;
  }
  .contentTop {
    padding: 0 1rem;
  }
  .contentVideo {
    iframe {
      min-height: 16rem;
    }
  }

  .contentLeft {
    width: 100%;
  }
  .contentRight {
    width: 100%;
    display: unset;
  }
}
@media (max-width: 350px) {
  .contentTop {
    font-size: $xsmallTitle;
    line-height: 2rem;
  }
}
