@import "../../../styles/globals.scss";

.midContainer {
  background-color: #c92c93;
  width: 100%;
  display: flex;
  max-height: 651px;
  .contentLeft {
    width: 50%;
  }
  .contentRight {
    width: 50%;
    display: flex;

    .midContent {
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding: 0 100px;
      gap: 50px;
      @media (max-width: 768px) {
        padding: 0;
      }
      .midContentImage {
        img {
          width: 100%;
          height: auto;
        }
      }
      .midContentTitle {
        font-size: 50px;
        color: $white;
        font-family: $boldFont;
        line-height: 58px;
      }
      .midContentText {
        color: $white;
        max-width: 540px;
        font-family: $normalFont;
        line-height: 30px;
      }
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .contentLeft {
    width: 100%;
  }
  .contentRight {
    width: 100%;
    display: unset;
  }

  .midContainer {
    background-size: 39rem 37rem;
    flex-direction: column;
  }
  .midContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 1rem 0 2rem;
  }
  .midContentImage {
    padding: 0rem 1rem;
  }
  .midContentImage {
    img {
      width: 60%;
      height: auto;
    }
  }
  .midContentTitle {
    font-size: $midTitle;
  }
  .midContentText {
    color: $white;
    max-width: 20rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 350px) {
  .midContainer {
    background-size: 47rem 37rem;
  }
}
