@import "../../../styles/globals.scss";

.midContainer {
  background-color: #c92c93;
  width: 100%;
  display: flex;
  max-height: 651px;

  .contentLeft {
    width: 50%;
    @media (max-width: 1355px) {
      display: none;
      width: 0;
    }
  }
  .contentRight {
    width: 50%;
    display: flex;

    @media (max-width: 1355px) {
      width: 100%;
      justify-content: center;
      padding: 20px 0;
    }

    .midContent {
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding: 0 100px;
      gap: 50px;

      @media (max-width: 768px) {
        width: 90%;
        padding: 20px;
      }
      .midContentImage {
        img {
          width: 100%;
          height: auto;
        }
      }
      .midContentTitle {
        font-size: 50px;
        color: $white;
        font-family: $boldFont;
        line-height: 58px;

        @media (max-width: 768px) {
          font-size: 30px;
          line-height: 40px;
        }
      }
      .midContentText {
        color: $white;
        max-width: 540px;
        font-family: $normalFont;
        line-height: 30px;
      }
    }
  }
}
