@import "../../../styles/globals.scss";

.contentLeft {
  width: 40%;
}
.contentRight {
  width: 40%;
  display: flex;
}

.midContainer {
  display: flex;
  background-color: $white;
  background-image: url(../../../images/SpareLeft.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  justify-content: space-between;
  padding: 1rem 0rem;
}
.midContent {
  justify-content: space-around;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.midContentImage {
  padding: 3rem 1rem;
}
.midContentImage {
  img {
    width: 100%;
    height: auto;
  }
}
.midContentTitle {
  font-size: $midTitle;
  font-weight: 600;
  color: $white;
  font-family: $boldFont;
}
.midContentText {
  color: $white;
  max-width: 27rem;
  font-family: $normalFont;
  line-height: 1.5rem;
}
.midButton {
  height: 3rem;
  width: 10rem;
}

/* Mobile */
@media (max-width: 768px) {
  .contentLeft {
    width: 100%;
  }
  .contentRight {
    width: 100%;
    display: unset;
  }

  .midContainer {
    background-size: 39rem 37rem;
    flex-direction: column;
  }
  .midContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 1rem 0 2rem;
  }
  .midContentImage {
    padding: 0rem 1rem;
  }
  .midContentImage {
    img {
      width: 60%;
      height: auto;
    }
  }
  .midContentTitle {
    font-size: $midTitle;
  }
  .midContentText {
    color: $white;
    max-width: 20rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 350px) {
  .midContainer {
    background-size: 47rem 37rem;
  }
}
