@import "../../../styles/globals.scss";

.container {
  background-color: $backgroundColor;
  padding: 1.5rem;
  max-width: 12rem;
}
.title {
  font-size: $xsmallTitle;
  font-family: $boldFont;
}
.text {
  font-size: $xsmallText;
  font-family: $normalFont;
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    background-color: $backgroundColor;
    padding: 0.5rem;
  }
  .title {
    font-size: $mobileTitle;
  }
  .text {
    font-size: $mobileText;
  }
}
