@import "../../../styles/globals.scss";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  margin-bottom: 28px;
  .footerImage {
    & img {
      width: 100%;
      object-fit: cover;
      background-color: white;
      @media (max-width: 768px) {
        max-width: 100%;
        height: auto;
        object-fit: fill;
      }
    }
  }
  .footerForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 100px;

    margin-bottom: 120px;
    @media (max-width: 768px) {
      width: 90%;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-bottom: 20px;
    }
    .left {
      .footerFormTitle {
        font-size: 60px;
        color: $white;
        font-family: $boldFont;
        margin-top: 25px;
        max-width: 615px;
        @media (max-width: 768px) {
          font-size: 40px;
        }
        .outlinedText {
          color: transparent;
          -webkit-text-stroke: 1px white; /* Outlines the text */
          text-stroke: 1px white; /* Fallback for non-webkit browsers */
        }
      }
      .footerFormTxt {
        color: $white;
        max-width: 540px;
        font-family: $normalFont;
        line-height: 30px;
        font-size: 16px;
      }
      .footerFormEnd {
        color: $white;
        max-width: 540px;
        font-family: $normalFont;
        line-height: 30px;
        font-size: 16px;
      }
    }
    .right {
      margin-top: 40px;
      width: 100%;
      color: $white;
      max-width: 540px;
      font-family: $normalFont;
      line-height: 30px;
      font-size: 16px;
      @media (max-width: 768px) {
        margin: 0;
      }
      & div {
        padding: 0;
      }
      & * {
        color: white;
        border-color: white;
      }
      & input,
      textarea {
        width: 488px;
        padding: 16px;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
  .footerLinks {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: flex-start;

    color: $white;
    font-family: $normalFont;
    line-height: 22px;
    font-size: 12px;
    justify-content: center;

    @media (max-width: 768px) {
      width: 90%;
      flex-direction: column;
      justify-content: unset;
      gap: 20px;
    }
    .info {
      & p {
        line-height: 22px;
        margin: 0;
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      line-height: 22px;
    }
  }
  .hr {
    width: 100%;
    border: none;
    border-top: 1px solid #cacaca;
  }
  .footerEnd {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footerEndTxt {
      color: $white;
      font-family: $normalFont;
      line-height: 26px;
      font-size: 11px;
      padding: 0 27px;
      @media (max-width: 768px) {
        margin: 0;
      }
    }
  }
}
