@import "../../../styles/globals.scss";

.contentSlider {
  padding: 0;
  border-radius: 10px;
  height: 596px;
  overflow: hidden;
}

.sliderContainer {
  position: relative;
  top: 400px;
  width: 100%;
  max-width: 1247px;
  border-radius: 10px;
  @media (max-width: 768px) {
    padding: 0 !important;
  }
  .data {
    display: flex;

    width: 100%;
    .dataImg {
      position: absolute;
      z-index: 1;
      max-width: 1247px;
      filter: brightness(85%);
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .dataWrapper {
      height: 426px;
      padding: 85px 70px;
      max-width: 742px;
      width: 100%;
      position: relative;
      left: 0;
      @media (max-width: 768px) {
        padding: 0;
      }
      .dataText {
        position: relative;
        z-index: 5;
        font-size: 33px;
        max-width: 742px;
        line-height: 41px;
        font-family: $boldFont;
        color: white;
        margin-bottom: 30px;
      }
      .dataDate {
        margin-bottom: 15px;
        position: relative;
        z-index: 5;
        font-size: 12px;
        font-weight: 100;
        color: white;
        font-family: $normalFont;
      }
    }
  }
}
/* Mobile */
@media (max-width: 768px) {
  .sliderContainer {
    padding: 2rem 1rem;
  }
  .contentSliderTitle {
    font-size: $smallTitle;
  }
}
@media (max-width: 350px) {
  .contentSlider {
    padding: 2rem 2rem;
  }
  .dataText {
    padding: 0rem;
  }
}
