@import "./globals.scss";

.container {
  max-width: 1512px;
  margin: auto;
  width: 100%;
}

.background {
  background-color: #31297d;
  background-image: url(../images/mainBackground.svg);
  background-repeat: no-repeat;

  background-position: top;
  width: 100%;
  background-size: 96rem auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer {
  height: 100%;
  background-color: $backgroundColor;
  z-index: 10;
  position: relative;

  .blockContainer {
    position: relative;
    z-index: 5;
    top: -100px;
    display: flex;
    justify-content: center;
    gap: 38px;
    @media (max-width: 768px) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .clients {
  }
  .midSection {
  }
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 133px;
    @media (max-width: 768px) {
      padding: 0;
    }
  }
  .faq {
    background-color: black;
    background-image: url(../images/mainBackground.svg);
    background-repeat: no-repeat;
    background-position: 600px 700px;
    width: 100%;
    background-size: 60rem auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team {
  }
  .footer {
    background-color: #ff3a7a;
    background-image: url(../images/mainBackground.svg);
    background-repeat: no-repeat;
    background-position: 600px 700px;
    width: 100%;
    background-size: 60rem auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
