@import "../../../styles/globals.scss";
.partnersContainer {
  padding: 3rem 0;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  margin-bottom: 70px;
}
.title {
  display: flex;
  font-size: 13px;
  font-family: $normalFont;
  align-items: center;
}
.clients {
  display: flex;
  gap: 88px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}
